@font-face{
    font-family: 'segoereg';
    src:url('../fonts/segoeui.eot');
    src:url('../fonts/segoeui.eot?#iefix') format('embedded-opentype'),
    url('../fonts/segoeui.woff') format('woff'),
    url('../fonts/segoeui.ttf') format('truetype');
    /*url('../fonts/segoeui.svg#web') format('svg')*/
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'segoebold';
    src:url('../fonts/segoeuib.eot');
    src:url('../fonts/segoeuib.eot?#iefix') format('embedded-opentype'),
    url('../fonts/segoeuib.woff') format('woff'),
    url('../fonts/segoeuib.ttf') format('truetype');
    /*url('../fonts/segoeuib.svg#web') format('svg')*/
    font-weight: normal;
    font-style: normal;
}