// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$s-email-2-name: 's-email-2';
$s-email-2-x: 76px;
$s-email-2-y: 0px;
$s-email-2-offset-x: -76px;
$s-email-2-offset-y: 0px;
$s-email-2-width: 25px;
$s-email-2-height: 25px;
$s-email-2-total-width: 101px;
$s-email-2-total-height: 99px;
$s-email-2-image: 'sprite.png';
$s-email-2: (76px, 0px, -76px, 0px, 25px, 25px, 101px, 99px, 'sprite.png', 's-email-2', );
$s-email-name: 's-email';
$s-email-x: 0px;
$s-email-y: 0px;
$s-email-offset-x: 0px;
$s-email-offset-y: 0px;
$s-email-width: 37px;
$s-email-height: 37px;
$s-email-total-width: 101px;
$s-email-total-height: 99px;
$s-email-image: 'sprite.png';
$s-email: (0px, 0px, 0px, 0px, 37px, 37px, 101px, 99px, 'sprite.png', 's-email', );
$s-home-name: 's-home';
$s-home-x: 76px;
$s-home-y: 52px;
$s-home-offset-x: -76px;
$s-home-offset-y: -52px;
$s-home-width: 19px;
$s-home-height: 18px;
$s-home-total-width: 101px;
$s-home-total-height: 99px;
$s-home-image: 'sprite.png';
$s-home: (76px, 52px, -76px, -52px, 19px, 18px, 101px, 99px, 'sprite.png', 's-home', );
$s-home-2-2-name: 's-home_2-2';
$s-home-2-2-x: 0px;
$s-home-2-2-y: 75px;
$s-home-2-2-offset-x: 0px;
$s-home-2-2-offset-y: -75px;
$s-home-2-2-width: 25px;
$s-home-2-2-height: 24px;
$s-home-2-2-total-width: 101px;
$s-home-2-2-total-height: 99px;
$s-home-2-2-image: 'sprite.png';
$s-home-2-2: (0px, 75px, 0px, -75px, 25px, 24px, 101px, 99px, 'sprite.png', 's-home_2-2', );
$s-home-2-name: 's-home_2';
$s-home-2-x: 0px;
$s-home-2-y: 38px;
$s-home-2-offset-x: 0px;
$s-home-2-offset-y: -38px;
$s-home-2-width: 37px;
$s-home-2-height: 36px;
$s-home-2-total-width: 101px;
$s-home-2-total-height: 99px;
$s-home-2-image: 'sprite.png';
$s-home-2: (0px, 38px, 0px, -38px, 37px, 36px, 101px, 99px, 'sprite.png', 's-home_2', );
$s-phone-2-2-name: 's-phone_2-2';
$s-phone-2-2-x: 76px;
$s-phone-2-2-y: 26px;
$s-phone-2-2-offset-x: -76px;
$s-phone-2-2-offset-y: -26px;
$s-phone-2-2-width: 25px;
$s-phone-2-2-height: 25px;
$s-phone-2-2-total-width: 101px;
$s-phone-2-2-total-height: 99px;
$s-phone-2-2-image: 'sprite.png';
$s-phone-2-2: (76px, 26px, -76px, -26px, 25px, 25px, 101px, 99px, 'sprite.png', 's-phone_2-2', );
$s-phone-2-name: 's-phone_2';
$s-phone-2-x: 38px;
$s-phone-2-y: 0px;
$s-phone-2-offset-x: -38px;
$s-phone-2-offset-y: 0px;
$s-phone-2-width: 37px;
$s-phone-2-height: 37px;
$s-phone-2-total-width: 101px;
$s-phone-2-total-height: 99px;
$s-phone-2-image: 'sprite.png';
$s-phone-2: (38px, 0px, -38px, 0px, 37px, 37px, 101px, 99px, 'sprite.png', 's-phone_2', );
$s-time-name: 's-time';
$s-time-x: 52px;
$s-time-y: 75px;
$s-time-offset-x: -52px;
$s-time-offset-y: -75px;
$s-time-width: 18px;
$s-time-height: 18px;
$s-time-total-width: 101px;
$s-time-total-height: 99px;
$s-time-image: 'sprite.png';
$s-time: (52px, 75px, -52px, -75px, 18px, 18px, 101px, 99px, 'sprite.png', 's-time', );
$s-time-2-2-name: 's-time_2-2';
$s-time-2-2-x: 26px;
$s-time-2-2-y: 75px;
$s-time-2-2-offset-x: -26px;
$s-time-2-2-offset-y: -75px;
$s-time-2-2-width: 25px;
$s-time-2-2-height: 24px;
$s-time-2-2-total-width: 101px;
$s-time-2-2-total-height: 99px;
$s-time-2-2-image: 'sprite.png';
$s-time-2-2: (26px, 75px, -26px, -75px, 25px, 24px, 101px, 99px, 'sprite.png', 's-time_2-2', );
$s-time-2-name: 's-time_2';
$s-time-2-x: 38px;
$s-time-2-y: 38px;
$s-time-2-offset-x: -38px;
$s-time-2-offset-y: -38px;
$s-time-2-width: 37px;
$s-time-2-height: 36px;
$s-time-2-total-width: 101px;
$s-time-2-total-height: 99px;
$s-time-2-image: 'sprite.png';
$s-time-2: (38px, 38px, -38px, -38px, 37px, 36px, 101px, 99px, 'sprite.png', 's-time_2', );
$spritesheet-width: 101px;
$spritesheet-height: 99px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($s-email-2, $s-email, $s-home, $s-home-2-2, $s-home-2, $s-phone-2-2, $s-phone-2, $s-time, $s-time-2-2, $s-time-2, );
$spritesheet: (101px, 99px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
